*{
    margin: 0px;
    padding: 0px;
}
.noidung{
    width: 1200px;
    margin: 0px auto;
}
#logo img{
    width: 100px;
    height: 100px;
    float: left;
}
.website{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../image/nihon_machi.jpg") ;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.right{
    float: right;
}
.right ul{
    list-style: none;
    margin-top: 50px;
}
.right ul li{
    display: inline-block;
}
.right ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    font-family: poppins;
}
.right ul li a:hover{
    background-color: #fff;
    color: #333;
}
.content{
    position: absolute;
    width: 600px;
    height: 300px;
    top: 300px;
    left: 450px;
    text-align: center;
    text-transform: uppercase;
}
.content h1{
    font-size: 60px;
    text-align: center;
    color: #fff;
   
}
.content a{
    border: 1px solid #fff;
    text-decoration: none;  
    padding: 10px 25px;
    color: #fff;
    margin-top:30px;
    font-size: 16px;
    display: inline-block;

}
.content a:hover{
    background-color: #fff;
    color: #333;
}