*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto',sans-serif;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
#logo{
    background:#143980;
    height: 100px;     
}
#logo img{
    padding-left: 20px;
}
#header{
    background:black;
    height: 35px;
    margin-bottom: 5px;
}
#header ul{
    list-style: none;
    line-height: 35px;
}
#header ul li{
    float: left;
    
    padding: 0 10px;

}
#header ul li a{
    color: white;
    text-decoration: none;
}
#header #right{
    line-height: 35px;
    float: right;
}
#header #right input{
    width: 250px;
}
#header #right
{
    padding-right: 20px;
}
#slide img{
    width: 1000px;
}
#arc h3{
    font-weight: bold;
    color: rgb(10, 10, 82);
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
}
.news a{
    text-decoration: none;
}
.news .item_news{
    float: left;
    width: 26%;
    padding: 25.5px;
    border: 1px solid black;
    margin-right: 3%;

}
.news .item_news img{
    width: 250px;
}
#arc .news #fix{
    margin-right: 0px;
}
#footer{
    margin-top: 10px;
    background: black;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}